<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/selection.css">
        <link rel="stylesheet" href="../static/css/accueil.css">
        <script src="https://use.fontawesome.com/470b91f216.js"></script>
        <script src="./static/js/jquery/jquery.min.js" charset="utf-8"></script>
    {% if request.path.startswith('/predict/') %}
        <link rel="stylesheet" href="../static/css/predict.css">    
    {% endif %}
        
    </head>
    <body>
        <nav>
            <div class="flex">
                <div class="bold">
                    Devia Used Cars:
                </div>
                <div>
                    <a class="selectA marginLeft" href="{{ url_for('accueil') }}">Accueil</a>
                    {% if current_user.is_anonymous  %}
                    <a class="selectA marginLeft" href="{{ url_for('login') }}">Login</a>
                    {% else %}
                    <a class="selectA marginLeft" href="{{ url_for('stats') }}">Stats</a>
                    <a class="selectA marginLeft" href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </div>
                
            </div>
        </nav>
        
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>