{% extends "base.html" %}

{% block content %}
<div class="blog-div">
    <div class="blog-card">
        <div class="meta">
        <div class="photo" style="background-image: url(./static/images/accueil_cars.jpg)"></div>
        
        </div>
        <div class="description">
        <h1>Nous estimons Votre Voiture</h1>
        <h2>Estimation Gratuit ici</h2>
        <p> Nos algorithmes évalueront tous les types de voitures, 
            obtenez rapidement une estimation de la valeur de votre automobile, 
            quel que soit son âge, son kilométrage ou son type de carburant !
             Répondez simplement à quelques questions concernant votre voiture. 
             Aucune information personnelle n'est nécessaire. </p>
        <p class="read-more">
            <a href="{{ url_for('predict') }}">Estime Ici</a>
        </p>
        </div>
    </div>
    <div class="blog-card alt">
        <div class="meta">
        <div class="photo" style="background-image: url(./static/images/used_cars.webp)"></div>
        
        </div>
        <div class="description">
        <h1>Consultez notre sélection de voitures d'occasion</h1>
        <h2>UNE GRANDE COLLECTION DE MODÈLES</h2>
        <p>Découvrez une sélection rigoureusement choisie de véhicules pour tous les goûts et budgets. 
            Que vous recherchiez une berline confortable, un SUV familial ou une sportive dynamique, nous avons ce qu'il vous faut. 
            Chaque voiture est soumise à une inspection approfondie pour garantir sa fiabilité et votre satisfaction. </p>
        <p class="read-more">
            <a href="{{ url_for('joke') }}">Voir les Voitures Ici</a>
        </p>
        </div>
    </div>
</div>
    
{% endblock %}